//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 04 16:53:44 2019
//! **************************************************************************

SCHEMATIC START;
COMP "cin" LOCATE = SITE "AA9" LEVEL 1;
COMP "cout" LOCATE = SITE "AF6" LEVEL 1;
COMP "sum" LOCATE = SITE "AE6" LEVEL 1;
COMP "a" LOCATE = SITE "AD10" LEVEL 1;
COMP "b" LOCATE = SITE "AC10" LEVEL 1;
SCHEMATIC END;

