//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 18 17:18:53 2019
//! **************************************************************************

SCHEMATIC START;
COMP "seg_com<0>" LOCATE = SITE "W4" LEVEL 1;
COMP "seg_com<1>" LOCATE = SITE "W5" LEVEL 1;
COMP "seg_com<2>" LOCATE = SITE "W6" LEVEL 1;
COMP "seg_com<3>" LOCATE = SITE "AB3" LEVEL 1;
COMP "seg_com<4>" LOCATE = SITE "AB4" LEVEL 1;
COMP "seg_com<5>" LOCATE = SITE "W1" LEVEL 1;
COMP "seg_com<6>" LOCATE = SITE "W2" LEVEL 1;
COMP "seg_com<7>" LOCATE = SITE "AD2" LEVEL 1;
COMP "seg_data<0>" LOCATE = SITE "AF5" LEVEL 1;
COMP "seg_data<1>" LOCATE = SITE "AE5" LEVEL 1;
COMP "seg_data<2>" LOCATE = SITE "AB6" LEVEL 1;
COMP "seg_data<3>" LOCATE = SITE "AA6" LEVEL 1;
COMP "seg_data<4>" LOCATE = SITE "K26" LEVEL 1;
COMP "seg_data<5>" LOCATE = SITE "K25" LEVEL 1;
COMP "bcd_in<0>" LOCATE = SITE "Y16" LEVEL 1;
COMP "seg_data<6>" LOCATE = SITE "AC2" LEVEL 1;
COMP "bcd_in<1>" LOCATE = SITE "AB15" LEVEL 1;
COMP "seg_data<7>" LOCATE = SITE "AC1" LEVEL 1;
COMP "bcd_in<2>" LOCATE = SITE "AA15" LEVEL 1;
COMP "bcd_in<3>" LOCATE = SITE "AE15" LEVEL 1;
SCHEMATIC END;

