
# PlanAhead Generated physical constraints 

NET "c7" LOC = AC7;
NET "sum[0]" LOC = AE6;
NET "sum[1]" LOC = AF6;
NET "sum[2]" LOC = AC6;
NET "sum[3]" LOC = AD6;
NET "a[0]" LOC = Y16;
NET "a[1]" LOC = AB15;
NET "a[2]" LOC = AA15;
NET "a[3]" LOC = AE15;
NET "b[0]" LOC = AB14;
NET "b[1]" LOC = AF12;
NET "b[3]" LOC = Y13;
NET "b[2]" LOC = AE12;
